* {
	margin: 0;
	padding: 0;
}

body {
	background-image: -webkit-linear-gradient(#14141f,#33334d);
	background-size: cover;
	background-repeat: no-repeat;
}

p {
	font-family: 'Bangers', cursive;
	font-size: 24px;	
	color: white;
	text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
}

h1 {
	font-family: 'Bangers', cursive;
	color: white;
	text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
	font-size: 100px;
	text-align: center;
}

div {
	border-color: white;
}

#tablero {
	position: relative;
	left: 2%;
	background: black;
	width: 96%;
	height: 590px;
	display: grid;
	grid-template-columns: 1fr; 
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 10px;
	grid-template-areas: 
		"agre"
		"cant"
		"botn";
}

#ingreso {
}

#botones {
	grid-area: botn;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	grid-template-areas: 
		"vol"
		"empty"
		"ply";
}


#volv {
	grid-area: vol;
}

#play {
	grid-area: ply;
}

#personaje {
	border-radius: 20px;
	text-align: center;
	border: 5px solid black;
	width: 250px;
	height: 70px;
	font-family: 'Bangers', cursive;
	font-size: 35px;
	margin: auto;
	position: relative;

}

.botongrande {
	border-radius: 20px;
	border: 5px solid black;
	width: 250px;
	height: 70px;
	font-family: 'Bangers', cursive;
	font-size: 35px;
	margin: auto;
	position: relative;
}