* {
	margin: 0;
	padding: 0;
}

body {
	background-image: -webkit-linear-gradient(#14141f,#33334d);
	background-size: cover;
	background-repeat: no-repeat;
}

p, ul {
	font-family: 'Bangers', cursive;
	color: white;
	text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
}

li {
	font-size: 19px;
	margin: auto;
	width: 80%;
}

a {
	text-decoration: none;
}

h1 {
	font-family: 'Bangers', cursive;
	color: white;
	text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
	font-size: 85px;
	text-align: center;
}

/*-- M E N U --*/

#menu {
	position: fixed;
	z-index: 3;
	width: 100%;
	background-image: -webkit-linear-gradient(#14141f,#33334d);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	text-align: center;
	font-size: 40px;
	margin: auto;
	height: 80px;
}

.ValignMenu {
	position: relative;
	border: 2px solid white;
	padding: 17px;	
}

/*-- H O M E --*/

#logoHome {
	display: block;
	margin: auto;
	height: 460px;
}

#creditos {
	text-align: center;
	width: 100%;
}

#arre, #arreglo {
	text-align: center;
	visibility: hidden;
	width: 100%;
}
/*-- R E G L A S --*/

li {
	font-size: 27px;
	margin: auto;
	width: 80%;
}

.separado {
	margin: auto;
	width: 50%;
}

/*-- A R R E G L O --*/


#PapCounter {
	display: grid;
	grid-template-columns: 10fr 3fr 1fr 3fr 10fr;
	text-align: center;
	width: 96%;
	margin: auto;
	align-items: center;
}

#personaje {
	text-align: center;
	font-family: 'Bangers', cursive;
	color: black;
	border: solid black 5px;
	width: 1000px;
	height: 150px;
	border-radius: 20px;
	font-size: 80px;
	display: block;
	margin: auto;
}

#botonchico, #reload {
	position: relative;
	border-radius: 20px;
	border: 5px solid black;
	width: 250px;
	height: 70px;
	font-family: 'Bangers', cursive;
	font-size: 35px;
	margin: auto;
	left: 50%;
	transform: translateX(-50%);
}

#botonEquipo {
	position: relative;
	border-radius: 20px;
	border: 5px solid black;
	width: 650px;
	height: 170px;
	font-family: 'Bangers', cursive;
	font-size: 65px;
	margin: auto;
	left: 50%;
	transform: translateX(-50%);
}

#bowlChico {
	display: block;
    margin: auto;
    width: 100%;
}

#bowlChico2 {
	display: block;
    margin: auto;
    width: 20%;
}

#cantiPap {
	font-size: 80px;
	position: relative;
	text-align: center;
}

/*-- J U G A R --*/

#tablero {
	position: relative;
	left: 2%;
	background: black;
	width: 96%;
	height: 590px;
	display: grid;
	grid-template-columns: 2fr 8fr;
	grid-template-rows: repeat(6, 1fr);
	grid-gap: 10px;
	grid-template-areas: 
		"scoRo etap"
		"scoRo per"
		"scoRo pap"
		"scoAz pap"
		"scoAz bot"
		"scoAz bot";
}

#scoreAzul {
	background-image: -webkit-linear-gradient(#0000cc,#00004d);
	grid-area: scoAz;
	display: grid;
	grid-template-columns: 3fr;
}

#scoreRojo {
	background-image: -webkit-linear-gradient(#cc0000,#4d0000);
	grid-area: scoRo;
	display: grid;
	grid-template-columns: 3fr;
}

#rojo, #azul {
	text-align: center;
	margin: auto;
	font-size: 55px; 
}

#puntRo, #puntAz, #puntRo2, #puntAz2 {
	text-align: center;
	font-size: 100px;
	margin: auto;
}

#boxEtapa {
	text-align: center;
	padding: 10px;
	grid-area: etap;
}

#etapa{
font-size: 60px;
}

#papelBox {
	grid-area: pap;
	background: rgb(179, 204, 204);
	border-radius: 20px;	
}

#papel {
	text-align: center;
	font-size: 75px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#botYtime {
	grid-area: bot;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 10px;
	grid-template-areas: 
		"botOk time botPas"
		"botOk time botPas"
		"goles fin papls";
	position: relative;
}

#acierto {
	background-image: url(../images/aciert.png);
	grid-area: botOk;
}

#counter {
	text-align: center;
	position: relative;
	margin: auto;
	font-size: 100px;
	grid-area: time;
}

#pasar {
	background-image: url(../images/bo.png);
	grid-area: botPas;
}

.boton {
	display: block;
	background-color: black;
	margin: auto;
	position: relative;
	background-position: center;
	width: 135px;
	height: 135px;
	background-size: 130px 130px;
	border-color: black;	
}

#goles {
	grid-area: goles;
	text-align: center;
	margin: auto;
	position: relative;
	top: 5%;
	font-size: 30px;
}

#papls {
	grid-area: papls;
	text-align: center;
	position: relative;
	margin: auto;
	top: 5%;
	font-size: 30px;
}

#comRoj, #comAzu {
	border-radius: 20px;
	border: 5px solid black;
	width: 250px;
	height: 70px;
	font-family: 'Bangers', cursive;
	font-size: 35px;
	margin: auto;
	position: relative;
}

#titPerje {
	text-align: center;
	font-family: 'Bangers', cursive;
	color: black;
	font-size: 40px;
}

#finTime {
	border-radius: 20px;
	border: 5px solid black;
	width: 250px;
	height: 70px;
	background-color: red;
	font-family: 'Bangers', cursive;
	font-size: 35px;
	margin: auto;
	position: relative;
	grid-area: : fin;
}

#win {
	text-align: center;
	width: 100%;
	top: 50%;
	font-size: 120px;
	padding-top: 61px;
}

#gameEnd {
	margin: auto;
	width: 94%;
	display: grid;
	grid-template-columns: 2fr 4fr 2fr;
	align-items: center;
}

#scoreAzul2 {
	background-image: -webkit-linear-gradient(#0000cc,#00004d);
	border: solid black 3px;
}

#scoreRojo2 {
	background-image: -webkit-linear-gradient(#cc0000,#4d0000);
	border: solid black 3px;
}

#snoop {
	display: block;
	margin: auto;
	height: 420px;
}